In [5]:
import pandas as pd
import numpy as np

# 1. 반려견, 이름 열을 병합하세요.

In [6]:
dog = pd.DataFrame([["뽀짝", 26, 3.2],
                  ["겨울", 14, 4.5],
                  ["쏘니", 20, 3.5]],
                  columns = ['반려견','개월수','몸무게'])
dog

  반려견  개월수  몸무게
0  뽀짝   26  3.2
1  겨울   14  4.5
2  쏘니   20  3.5

In [10]:
dog_p = pd.DataFrame([["뽀짝","말티즈","O"],
                     ["겨울","말티푸","O"],
                     ["쏘니","몰키","X"]],
                    columns = ['이름','견종','중성화'])
dog_p

   이름   견종 중성화
0  뽀짝  말티즈   O
1  겨울  말티푸   O
2  쏘니   몰키   X

In [12]:
pd.merge(dog,dog_p, left_on = '반려견', right_on = '이름')

  반려견  개월수  몸무게  이름   견종 중성화
0  뽀짝   26  3.2  뽀짝  말티즈   O
1  겨울   14  4.5  겨울  말티푸   O
2  쏘니   20  3.5  쏘니   몰키   X

In [13]:
pd.merge(dog,dog_p, left_on = '반려견', right_on = '이름').drop('이름',axis = 1)

  반려견  개월수  몸무게   견종 중성화
0  뽀짝   26  3.2  말티즈   O
1  겨울   14  4.5  말티푸   O
2  쏘니   20  3.5   몰키   X

# 2. 반려견 열을 행인덱스로 전환 후 행인덱스로 병합하세요.

In [17]:
dog2 = dog.copy()
dog2

  반려견  개월수  몸무게
0  뽀짝   26  3.2
1  겨울   14  4.5
2  쏘니   20  3.5

In [18]:
dog_p2 = pd.DataFrame([["뽀짝","말티즈","O"],
                     ["겨울","말티푸","O"],
                     ["쏘니","몰키","X"]],
                    columns = ['반려견','견종','중성화'])
dog_p2

  반려견   견종 중성화
0  뽀짝  말티즈   O
1  겨울  말티푸   O
2  쏘니   몰키   X

In [19]:
dog2 = dog2.set_index('반려견')
dog2

     개월수  몸무게
반려견
뽀짝    26  3.2
겨울    14  4.5
쏘니    20  3.5

In [20]:
dog_p2 = dog_p2.set_index('반려견')
dog_p2

      견종 중성화
반려견
뽀짝   말티즈   O
겨울   말티푸   O
쏘니    몰키   X

In [21]:
dog_inx = pd.merge(dog2,dog_p2, left_index = True, right_index = True)
dog_inx

     개월수  몸무게   견종 중성화
반려견
뽀짝    26  3.2  말티즈   O
겨울    14  4.5  말티푸   O
쏘니    20  3.5   몰키   X

# 3. 매칭되는 모든값과 merge 시키세요.

In [22]:
dog3 = dog.copy()
dog3

  반려견  개월수  몸무게
0  뽀짝   26  3.2
1  겨울   14  4.5
2  쏘니   20  3.5

In [ ]:
dog_p3 = pd.DataFrame([["뽀짝","말티즈"],
                     ["겨울","말티푸"],
                     ["쏘니","몰키"]],
                    columns = ['반려견','보호자'])