In [2]:
import pandas as pd

zip : 튜플형태로 같은 인덱스끼리 매칭 시켜줌

In [3]:
names = ['Bob','Jessica','Mary','John','Mel']
births = [968,155,77,578,973]
BabyDataSet = list(zip(names,births))
BabyDataSet

[('Bob', 968), ('Jessica', 155), ('Mary', 77), ('John', 578), ('Mel', 973)]

In [4]:
df = pd.DataFrame(data = BabyDataSet,columns = ['Names','Births'])
df

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

전체타입 중 문자열이 있을 경우 dtype = object로 나옴

In [5]:
df.values

array([['Bob', 968],
       ['Jessica', 155],
       ['Mary', 77],
       ['John', 578],
       ['Mel', 973]], dtype=object)

axes : 각 축의 정보

In [6]:
df.axes

[RangeIndex(start=0, stop=5, step=1),
 Index(['Names', 'Births'], dtype='object')]

In [7]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [8]:
df.columns

Index(['Names', 'Births'], dtype='object')

In [9]:
df.dtypes

Names     object
Births     int64
dtype: object

In [11]:
df.shape

(5, 2)

In [12]:
df.ndim

2

In [13]:
df.size

10

In [14]:
df.shape,df.ndim,df.size

((5, 2), 2, 10)