In [26]:
import pandas as pd

usecols  = [ ]  
=> 특정 열을 지정하여 데이터 프레임 생성

In [27]:
movies = pd.read_csv('../data/movies.csv',usecols = ['Film','Year'])
movies.head()

                                 Film  Year
0          Zack and Miri Make a Porno  2008
1                     Youth in Revolt  2010
2  You Will Meet a Tall Dark Stranger  2010
3                        When in Rome  2010
4               What Happens in Vegas  2008

기본모드는 전체 행을 가져온다.

In [28]:
movies_add = pd.read_csv('../data/movies.csv')
movies_add.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008

has_seen의 열을 추가하여 모든 초기값을 0으로 한다.  
df[기존에 없던 열 이름] = 초기값  
=> 새로운 열을 생성하고 그 열의 모든 값을 초기값으로 설정한다.

In [29]:
movies['has_seen'] = 0
movies.head()

                                 Film  Year  has_seen
0          Zack and Miri Make a Porno  2008         0
1                     Youth in Revolt  2010         0
2  You Will Meet a Tall Dark Stranger  2010         0
3                        When in Rome  2010         0
4               What Happens in Vegas  2008         0

In [30]:
movies_add.columns

Index(['Film', 'Genre', 'Lead Studio', 'Audience score %', 'Profitability',
       'Rotten Tomatoes %', 'Worldwide Gross', 'Year'],
      dtype='object')

In [31]:
movies_add.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008

첫번째 행의 결과를 보면 (70+64)//2 => 67

In [32]:
movies['has_seen'] = (movies_add['Audience score %']+movies_add['Rotten Tomatoes %'])//2
movies.head()

                                 Film  Year  has_seen
0          Zack and Miri Make a Porno  2008        67
1                     Youth in Revolt  2010        60
2  You Will Meet a Tall Dark Stranger  2010        39
3                        When in Rome  2010        29
4               What Happens in Vegas  2008        50

In [33]:
movies['has_seen'].isnull().sum()

0

dtype('O') => object 타입

In [34]:
movies_add['Worldwide Gross'].dtype

dtype('O')

Worldwide Gross 열의 모든 $값을 없앤다. (정규식은 사용하지 않는다.)  
타입변경은 astype() 함수를 사용하여 변경한다.  
특정문자를 제거하려고 한다면 replace 함수에서 ' ' => 빈문자(empty String)로 바꾼다.  
열의 데이터 타입이 문자열이라면 .str.replace() 함수를 사용할 수 있다.  
replace 할 때 regex=False는 디폴트 값이다.

In [35]:
d = movies_add['Worldwide Gross'].str.replace('$','',regex=False).astype('float64')
d

0      41.94
1      19.62
2      26.66
3      43.04
4     219.37
       ...
72     29.37
73     30.68
74      8.97
75    160.31
76     60.72
Name: Worldwide Gross, Length: 77, dtype: float64

In [36]:
movies.head()

                                 Film  Year  has_seen
0          Zack and Miri Make a Porno  2008        67
1                     Youth in Revolt  2010        60
2  You Will Meet a Tall Dark Stranger  2010        39
3                        When in Rome  2010        29
4               What Happens in Vegas  2008        50

columns.get_loc() => 열의 인덱스를 가져옴

In [37]:
movies.columns.get_loc('has_seen')

2

insert(삽입될 열의 위치,삽입될 열의 이름,삽입될 열의 값)

In [38]:
movies.insert(movies.columns.get_loc('has_seen')+1,'원화환산',d*1200)
movies.head()

                                 Film  Year  has_seen      원화환산
0          Zack and Miri Make a Porno  2008        67   50328.0
1                     Youth in Revolt  2010        60   23544.0
2  You Will Meet a Tall Dark Stranger  2010        39   31992.0
3                        When in Rome  2010        29   51648.0
4               What Happens in Vegas  2008        50  263244.0

## 예제 2-25 시리즈와 데이터프레임 내의 특정 원소 변경

In [40]:
movies.loc[74,'has_seen']

84

In [41]:
import numpy as np

In [42]:
movies.loc[74,'has_seen'] = np.nan
movies.loc[74,'has_seen']

nan

In [45]:
movies['has_seen'].isnull().sum()

1

In [46]:
movies.columns

Index(['Film', 'Year', 'has_seen', '원화환산'], dtype='object')

In [48]:
movies_ser_at = movies['Year']
movies_ser_at.head()

0    2008
1    2010
2    2010
3    2010
4    2008
Name: Year, dtype: int64

In [50]:
movies_ser_at.get(0)

2008

## 예제 2-26 시리즈와 데이터프레임의 행과 열 삭제

In [51]:
movies_del = pd.read_csv('../data/movies.csv')
movies_del.shape

(77, 8)

In [52]:
movies_del.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008

'Rotten Tomatoes %'열을 삭제 axis=1 <= 삭제 대상이 열

In [53]:
movies_del1 = movies_del.drop('Rotten Tomatoes %',axis = 1)
movies_del1.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,$219.37,2008

In [57]:
movies_del.shape

(77, 8)

In [54]:
movies_del1.shape

(77, 7)

1~4행 삭제 axis=0 <= 삭제 대상이 행

In [55]:
movies_del2 = movies_del.drop([1,2,3,4],axis = 0)
movies_del2.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
5,Water For Elephants,Drama,20th Century Fox,72,3.081421,60,$117.09,2011
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
7,Waitress,Romance,Independent,67,11.089742,89,$22.18,2007
8,Waiting For Forever,Romance,Independent,53,0.005000,6,$0.03,2011

In [58]:
movies_del.shape

(77, 8)

In [56]:
movies_del2.shape

(73, 8)

삭제 행이나 열 2개이상 쓸때는 [ ] 안에 써야함

In [60]:
movies_del3 = movies_del.drop(['Lead Studio','Worldwide Gross'],axis = 1)
movies_del3.head()

,Film,Genre,Audience score %,Profitability,Rotten Tomatoes %,Year
0,Zack and Miri Make a Porno,Romance,70,1.747542,64,2008
1,Youth in Revolt,Comedy,52,1.090000,68,2010
2,You Will Meet a Tall Dark Stranger,Comedy,35,1.211818,43,2010
3,When in Rome,Comedy,44,0.000000,15,2010
4,What Happens in Vegas,Comedy,72,6.267647,28,2008

In [61]:
movies_del.shape

(77, 8)

In [62]:
movies_del3.shape

(77, 6)

inplace = false  
=> 삭제 안됨  
inplace = true  
=> 삭제됨

In [65]:
movies_del.drop(['Lead Studio','Worldwide Gross'],axis = 1,inplace=True)
movies_del.head()

,Film,Genre,Audience score %,Profitability,Rotten Tomatoes %,Year
0,Zack and Miri Make a Porno,Romance,70,1.747542,64,2008
1,Youth in Revolt,Comedy,52,1.090000,68,2010
2,You Will Meet a Tall Dark Stranger,Comedy,35,1.211818,43,2010
3,When in Rome,Comedy,44,0.000000,15,2010
4,What Happens in Vegas,Comedy,72,6.267647,28,2008

In [66]:
movies_ser = movies_del['Genre']
movies_ser.head()

0    Romance
1     Comedy
2     Comedy
3     Comedy
4     Comedy
Name: Genre, dtype: object

행,열 이름이 지정되어있고 정확히 선택했다면 axis는 안써도 됨

In [67]:
movies_ser.drop([1,2],axis = 0,inplace=True)
movies_ser.head()

0      Romance
3       Comedy
4       Comedy
5        Drama
6    Animation
Name: Genre, dtype: object

In [68]:
movies_ser.drop([3,4],inplace=True)
movies_ser.head()

0      Romance
5        Drama
6    Animation
7      Romance
8      Romance
Name: Genre, dtype: object