In [15]:
import pandas as pd

In [16]:
csv_in_file = pd.read_csv('supplier_data.csv')
csv_in_file.head()

  Supplier Name Invoice Number  Part Number     Cost Purchase Date
0    Supplier X       001-1001         2341  $500.00       1/20/14
1    Supplier X       001-1001         2341  $500.00       1/20/14
2    Supplier X       001-1001         5467  $750.00       1/20/14
3    Supplier X       001-1001         5467  $750.00       1/20/14
4    Supplier Y        50-9501         7009  $250.00       1/30/14

In [17]:
csv_in_file['Cost'] = csv_in_file['Cost'].str.strip('$').astype(float)

In [18]:
csv_in_file.head()

  Supplier Name Invoice Number  Part Number   Cost Purchase Date
0    Supplier X       001-1001         2341  500.0       1/20/14
1    Supplier X       001-1001         2341  500.0       1/20/14
2    Supplier X       001-1001         5467  750.0       1/20/14
3    Supplier X       001-1001         5467  750.0       1/20/14
4    Supplier Y        50-9501         7009  250.0       1/30/14

In [19]:
df1 = csv_in_file.loc[(csv_in_file['Cost'] > 600)&(csv_in_file['Cost'] < 620), : ]
df1

   Supplier Name Invoice Number  Part Number   Cost Purchase Date
8     Supplier Z       920-4803         3321  610.0        2/3/14
9     Supplier Z       920-4804         3321  615.0       2/10/14
10    Supplier Z       920-4805         3321  615.0       2/17/14
11    Supplier Z       920-4806         3321  615.0       2/24/14

In [20]:
df1.to_csv("output_files/3output_pandas.csv")

In [11]:
df2 = csv_in_file.loc[(csv_in_file['Supplier Name'] == 'Supplier Z'), : ]
df2

   Supplier Name Invoice Number  Part Number   Cost Purchase Date
8     Supplier Z       920-4803         3321  610.0        2/3/14
9     Supplier Z       920-4804         3321  615.0       2/10/14
10    Supplier Z       920-4805         3321  615.0       2/17/14
11    Supplier Z       920-4806         3321  615.0       2/24/14

In [12]:
df2.to_csv("output_files/3output_pandas2.csv")

In [13]:
df3 = csv_in_file.loc[(csv_in_file['Supplier Name'] == 'Supplier Y')&
                      (csv_in_file['Cost'] < 200), : ]
df3

  Supplier Name Invoice Number  Part Number   Cost Purchase Date
6    Supplier Y        50-9505         6650  125.0        2/3/14
7    Supplier Y        50-9505         6650  125.0        2/3/14

In [14]:
df3.to_csv("output_files/3output_pandas3.csv")