In [1]:
import pandas as pd

In [2]:
csv_in_file = pd.read_csv('supplier_data.csv')
csv_in_file.head()

  Supplier Name Invoice Number  Part Number     Cost Purchase Date
0    Supplier X       001-1001         2341  $500.00       1/20/14
1    Supplier X       001-1001         2341  $500.00       1/20/14
2    Supplier X       001-1001         5467  $750.00       1/20/14
3    Supplier X       001-1001         5467  $750.00       1/20/14
4    Supplier Y        50-9501         7009  $250.00       1/30/14

In [3]:
important_dates = ['1/20/14', '1/30/14']

isin => 일치하는 요소 찾기

In [4]:
df1 = csv_in_file.loc[csv_in_file['Purchase Date'].isin(important_dates), : ]
df1

  Supplier Name Invoice Number  Part Number     Cost Purchase Date
0    Supplier X       001-1001         2341  $500.00       1/20/14
1    Supplier X       001-1001         2341  $500.00       1/20/14
2    Supplier X       001-1001         5467  $750.00       1/20/14
3    Supplier X       001-1001         5467  $750.00       1/20/14
4    Supplier Y        50-9501         7009  $250.00       1/30/14
5    Supplier Y        50-9501         7009  $250.00       1/30/14

In [6]:
df1.to_csv("output_files/4output_pandas.csv")