In [1]:
import pandas as pd

In [2]:
csv_in_file = pd.read_csv('supplier_data.csv')
csv_in_file.head()

  Supplier Name Invoice Number  Part Number     Cost Purchase Date
0    Supplier X       001-1001         2341  $500.00       1/20/14
1    Supplier X       001-1001         2341  $500.00       1/20/14
2    Supplier X       001-1001         5467  $750.00       1/20/14
3    Supplier X       001-1001         5467  $750.00       1/20/14
4    Supplier Y        50-9501         7009  $250.00       1/30/14

In [ ]:
pattern = csv_in_file.loc['Invoice Number']

In [ ]:
df1.to_csv("output_files/4output_pandas.csv")