In [58]:
import pandas as pd

## 예제 3-6~7 시리즈만 가지는 메소드

In [59]:
op = pd.read_csv('../data/series_dataframe.csv')
op.head()

       Member      Series   DataFrame
0           T           T           T
1         abs         abs         abs
2         add         add         add
3  add_prefix  add_prefix  add_prefix
4  add_suffix  add_suffix  add_suffix

In [60]:
op_not = op.loc[op['Series'] != op['DataFrame']]
op_not.head()

      Member    Series DataFrame
12  applymap       NaN  applymap
13    argmax    argmax       NaN
14    argmin    argmin       NaN
15   argsort   argsort       NaN
19  asobject  asobject       NaN

In [61]:
op_not.shape

(74, 3)

dropna() => 결측행 제거

In [62]:
op_ser = op_not['Series'].dropna()
op_ser.head()

13      argmax
14      argmin
15     argsort
19    asobject
25    autocorr
Name: Series, dtype: object

tolist() => 결과값을 head() 로 볼 수 없음

In [63]:
op_ser_list = op_ser.tolist()
op_ser_list

['argmax',
 'argmin',
 'argsort',
 'asobject',
 'autocorr',
 'base',
 'between',
 'cat',
 'compress',
 'data',
 'dt',
 'dtype',
 'factorize',
 'flags',
 'from_array',
 'ftype',
 'hasnans',
 'imag',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'item',
 'items',
 'itemsize',
 'iteritems',
 'map',
 'name',
 'nbytes',
 'nonzero',
 'ptp',
 'put',
 'ravel',
 'real',
 'repeat',
 'reshape',
 'searchsorted',
 'str',
 'strides',
 'to_frame',
 'tolist',
 'unique',
 'valid',
 'value_counts',
 'view']

In [64]:
import types

FunctionType 이면 출력

In [65]:
count = 0
for i in op_ser_list :     
    try :
        
        if type(pd.Series.__dict__[i])  ==  types.FunctionType :
            print(i, end=',  ')
            count += 1
            if count % 5 == 0 :
                print()
    except Exception as e :
        pass

argsort,  autocorr,  between,  items,  iteritems,
map,  ravel,  repeat,  searchsorted,  to_frame,
unique,  view,

In [66]:
import seaborn as sns

In [67]:
iris = sns.load_dataset('iris')
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [68]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

## 예제 3-8 인덱스 변경 및 대체

In [69]:
s = pd.Series([1,2,3,4])
s

0    1
1    2
2    3
3    4
dtype: int64

rename({기존의 키 : 변경할 키값}]

In [70]:
s_re = s.rename({0:'a',1:'b',2:'c',3:'d'})
s_re

a    1
b    2
c    3
d    4
dtype: int64

reindex 에 지정되지 않은 행 인덱스의 값은 NaN 으로 표기  
reindex 에 있는 인덱스로 데이터를 재구성  
기존에 없는 인덱스로 reindex 했다면 해당 인덱스의 값은 추후 재설정하겠다는 의미

In [71]:
s_re.reindex(['a','b','c','e'])

a    1.0
b    2.0
c    3.0
e    NaN
dtype: float64

reindex 에 지정된 행만 필터링

In [72]:
s_re.reindex(['a','b','c'])

a    1
b    2
c    3
dtype: int64

reindex 로 지정된 행 인덱스 순서로 정렬

In [73]:
s_re.reindex(['c','b','a'])

c    3
b    2
a    1
dtype: int64

In [74]:
s1 = pd.Series([10,20,30], index=[0,1,2])
s1

0    10
1    20
2    30
dtype: int64

In [75]:
s1.index.dtype

dtype('int64')

In [76]:
s2 = pd.Series([1,2,3],index = list('012'))
s2

0    1
1    2
2    3
dtype: int64

In [77]:
s2.index.dtype

dtype('O')

인덱스 타입이 맞지 않으면 정상적인 연산이 불가

In [78]:
s1+s2

0   NaN
1   NaN
2   NaN
0   NaN
1   NaN
2   NaN
dtype: float64

s2 의 index 를 재할당

In [79]:
s2.index=[0,1,2]

인덱스타입이 동일해서 연산가능

In [80]:
s1+s2

0    11
1    22
2    33
dtype: int64

In [81]:
s3 = pd.Series([11,12,13], index=list('012'))
s3

0    11
1    12
2    13
dtype: int64

In [82]:
s3.index

Index(['0', '1', '2'], dtype='object')

인덱스를 rename 함수를 통해 정수로 변경

In [83]:
s3 = s3.rename({'0':0, '1':1,'2':2})

In [84]:
s1

0    10
1    20
2    30
dtype: int64

In [85]:
s3

0    11
1    12
2    13
dtype: int64

In [86]:
s1+s3

0    21
1    32
2    43
dtype: int64

In [87]:
s4 = pd.Series([11,12,13], index=list('012'))
s4

0    11
1    12
2    13
dtype: int64

In [88]:
s4.values

array([11, 12, 13], dtype=int64)

In [89]:
s4.index

Index(['0', '1', '2'], dtype='object')

index.values  
인덱스를 밸류로

In [90]:
s4.index.values

array(['0', '1', '2'], dtype=object)

인덱스 형변환

In [91]:
s4.index = s4.index.astype('int64')

In [92]:
s1+s4

0    21
1    32
2    43
dtype: int64

In [93]:
s4.index = s4.index.values.astype('int64')

In [94]:
s1+s4

0    21
1    32
2    43
dtype: int64