In [1]:
import pandas as pd

dict 키는 열로 지정, 값이 중첩된 dict라면 여기에서의 키는 각각 행의 이름으로 매칭

In [2]:
data = {'AAA':{'a':4,'b':5,'c':6,'d':7},
       'BBB':{'a':10,'b':20,'c':30,'d':40},
       'CCC':{'a':100,'b':50,'c':-30,'d':-50}}
df = pd.DataFrame(data)
df

   AAA  BBB  CCC
a    4   10  100
b    5   20   50
c    6   30  -30
d    7   40  -50

컬럼을 재정의하여 기존의 DataFrame을 필터링

In [3]:
df2 = pd.DataFrame(data,columns = ['AAA','CCC'])
df2

   AAA  CCC
a    4  100
b    5   50
c    6  -30
d    7  -50