In [2]:
import pandas as pd

## 예제 2-27 문자열 조회

In [3]:
movies_str = pd.read_csv("../data/korea_movie_list.csv", encoding='ms949')
movies_str.columns

Index(['movie_code', 'title', 'title_Eng', 'show_time', 'produce_year',
       'open_date', 'produce_state', 'type', 'nation', 'genre', 'director',
       'actor', 'show_type', 'watch_grade'],
      dtype='object')

In [4]:
movies_str.shape

(2827, 14)

In [5]:
movies_str.head(2)

,movie_code,title,title_Eng,show_time,produce_year,open_date,produce_state,type,nation,genre,director,actor,show_type,watch_grade
0,20185801,할로우 차일드,The Hollow Child,88.0,2017,20180802,개봉예정,장편,캐나다,공포(호러)/판타지,제레미 루터,NaN,NaN,15세이상관람가
1,20187649,죽음의 리무진,Glass Coffin,75.0,2016,20180816,개봉예정,장편,스페인,스릴러/공포(호러),하리츠 쥬빌라가,파울라 본템피,NaN,NaN

In [6]:
movies_str_ser = movies_str['title']
movies_str_ser.head()

0              할로우 차일드
1              죽음의 리무진
2    극장판 도라에몽: 진구의 보물섬
3     명탐정 코난 : 제로의 집행인
4              살아남은 아이
Name: title, dtype: object

In [7]:
movies_str_eng = movies_str['title_Eng']
movies_str_eng.head()

0                      The Hollow Child
1                          Glass Coffin
2                                   NaN
3    Detective Conan: Zero the Enforcer
4                            Last Child
Name: title_Eng, dtype: object

hasnans => has nans의 의미  
누락된 값이 있으면 True, 아니면 False

In [8]:
movies_str_ser.hasnans

False

In [9]:
movies_str_eng.hasnans

True

In [10]:
movies_str_eng.shape

(2827,)

dropna() => 결측행 제거

In [11]:
movies_str_eng = movies_str_eng.dropna()
movies_str_eng.shape

(2226,)

In [12]:
s = str('가을')
len(s)

2

시리즈의 str 속성의 len 함수를 통해 전체요소의 길이값 반환

In [13]:
movies_str_ser.str.len().head()

0     7
1     7
2    17
3    16
4     7
Name: title, dtype: int64

In [14]:
s.find('을')

1

있으면 0  
없으면 -1

In [15]:
movies_str_ser.str.find('할로우').head()

0    0
1   -1
2   -1
3   -1
4   -1
Name: title, dtype: int64

In [16]:
s.count('을')

1

In [17]:
movies_str_ser.str.count('의').head()

0    0
1    1
2    1
3    1
4    0
Name: title, dtype: int64

## 예제 2-28 문자열 변경

In [18]:
si = str(' 찬혁 ')
si

' 찬혁 '

띄어쓰기까지 포함

In [19]:
len(si)

4

In [20]:
si = si.strip()
len(si)

2

In [21]:
idx = pd.Index([' 찬혁', '런던 ', ' 소셜 ', '겨울'])

In [22]:
idx.str.strip()

Index(['찬혁', '런던', '소셜', '겨울'], dtype='object')

In [23]:
idx.str.lstrip()

Index(['찬혁', '런던 ', '소셜 ', '겨울'], dtype='object')

In [24]:
idx.str.rstrip()

Index([' 찬혁', '런던', ' 소셜', '겨울'], dtype='object')

In [25]:
import numpy as np

In [26]:
ss = pd.Series(['가_나_다', '라_마_바', np.nan, '사_아_자'])

In [27]:
ss.str.split('_')

0    [가, 나, 다]
1    [라, 마, 바]
2          NaN
3    [사, 아, 자]
dtype: object

In [28]:
ss.str.split('_').str.get(1)

0      나
1      마
2    NaN
3      아
dtype: object

In [29]:
ss.str.split('_').str[1]

0      나
1      마
2    NaN
3      아
dtype: object

expand = True 를 지정하면 분리된 것을 기준으로 데이터프레임을 만들어 준다.

In [30]:
ss.str.split('_',expand = True)

     0    1    2
0    가    나    다
1    라    마    바
2  NaN  NaN  NaN
3    사    아    자

split('_',expand=True,n=1)  
왼쪽을 기준으로 split

In [31]:
ss.str.split('_',expand=True,n=1)

     0    1
0    가  나_다
1    라  마_바
2  NaN  NaN
3    사  아_자

rsplit('_',expand=True,n=1)  
오른쪽을 기준으로 split

In [36]:
ss.str.rsplit('_',expand=True,n=1)

     0    1
0  가_나    다
1  라_마    바
2  NaN  NaN
3  사_아    자

In [37]:
ss.str.replace('_','%')

0    가%나%다
1    라%마%바
2      NaN
3    사%아%자
dtype: object

cat(sep=',')  
한줄로 정렬되는데 ',' 로 구분

In [38]:
ss.str.cat(sep=',')

'가_나_다,라_마_바,사_아_자'

In [39]:
ss.str.cat()

'가_나_다라_마_바사_아_자'

cat(['A','B','C','D'])  
인덱스 정렬된 값 뒤에 [ ] 안의 값이 붙는다.

In [40]:
ss.str.cat(['A','B','C','D'])

0    가_나_다A
1    라_마_바B
2       NaN
3    사_아_자D
dtype: object

In [41]:
su = pd.Series(['A','B','C','D'])
ss.str.cat(su)

0    가_나_다A
1    라_마_바B
2       NaN
3    사_아_자D
dtype: object

In [42]:
ss.str[0]

0      가
1      라
2    NaN
3      사
dtype: object

In [43]:
ss.str[1]

0      _
1      _
2    NaN
3      _
dtype: object