In [14]:
import pandas as pd

In [15]:
df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],
               columns=list('abc'))

In [16]:
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [17]:
df_a=df

In [18]:
df_a['a']=100

In [19]:
df_a

     a  b  c
0  100  2  3
1  100  5  6
2  100  8  9

In [20]:
df

     a  b  c
0  100  2  3
1  100  5  6
2  100  8  9

In [21]:
id(df),id(df_a)

(2373738781952, 2373738781952)

In [22]:
# is : (A is B) A, B 두 객체의 주소가 같은지 확인, 같으면 true 틀리면 false
df.values.base is df_a.values.base

True