In [22]:
import pandas as pd

In [23]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],
                 columns = list('abc'))

In [24]:
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [25]:
df_b = df+99

In [26]:
df_b

     a    b    c
0  100  101  102
1  103  104  105
2  106  107  108

In [27]:
id(df_b),id(df)

(1614225315488, 1614225316208)

In [28]:
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [29]:
import numpy as np

In [30]:
s1 = pd.Series(index = list('abcd'),data = np.arange(4))

In [31]:
s1

a    0
b    1
c    2
d    3
dtype: int32

In [32]:
s2 = s1

In [33]:
s2

a    0
b    1
c    2
d    3
dtype: int32

In [34]:
s1 is s2

True

In [35]:
s3 = s1.copy()

In [36]:
s3

a    0
b    1
c    2
d    3
dtype: int32

In [37]:
s1 is s3

False

In [38]:
s1 is s2

True

In [39]:
s2 is s3

False