In [1]:
import pandas as pd

In [4]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],
                 columns = list('abc'))

In [5]:
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [6]:
df_b = df+99

In [7]:
df_b

     a    b    c
0  100  101  102
1  103  104  105
2  106  107  108

In [8]:
id(df_b),id(df)

(1614225039712, 1614225041056)

In [9]:
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [10]:
import numpy as np

In [11]:
s1 = pd.Series(index = list('abcd'),data = np.arange(4))

In [12]:
s2 = s1

In [13]:
s1 is s2

True

In [14]:
s3 = s1.copy()

In [15]:
s1 is s3

False

In [16]:
s1 is s2

True

In [17]:
s2 is s3

False