In [1]:
import pandas as pd

In [3]:
# data=[
#     [0,1,2],
#     [3,4,5]
# ]
# index => 행의 인덱스
# columns => 열의 인덱스

df = pd.DataFrame(data=[[0,1,2],[3,4,5]],index=list('ab'),
                  columns=list('cde'))

In [4]:
df

   c  d  e
a  0  1  2
b  3  4  5

In [5]:
type(df.index)

pandas.core.indexes.base.Index

In [8]:
# 행
df.index

Index(['a', 'b'], dtype='object')

In [6]:
type(df.columns)

pandas.core.indexes.base.Index

In [10]:
# 열
df.columns

Index(['c', 'd', 'e'], dtype='object')

In [7]:
type(df.values)

numpy.ndarray

In [9]:
# 데이터부 = values = 실데이터
df.values

array([[0, 1, 2],
       [3, 4, 5]], dtype=int64)